*.pyc
*.egg-info
*.framework
*.tar.gz
*.tgz
__pycache__
notabot.cfg
temp
build
dist
dynload
Tcl_Headers
Tk_Headers
src/tkinter_embedded/*.py
!src/tkinter_emvedded/version.py
dev/3.13/Python*
dev/3.13/Tcl
dev/3.13/Tk
dev/3.13/tkinter_embedded